<footer class="footer">
  <div class="footer-wrap">
    <div>
      <h3>EduMath Indonesia</h3>
      <p>Materi Matematika & Informatika SMP Kelas 7, 8, 9.</p>
    </div>

    <div>
      <h4>Menu</h4>
      <a href="index.html">Dashboard</a><br>
      <a href="modul.html">Modul</a>
    </div>

    <div>
      <h4>Toko</h4>
      <a href="https://tokopedia.com/tokoanda" target="_blank">
        Beli Perangkat & Administrasi Guru
      </a>
    </div>
  </div>

  <p class="copy">© 2026 EduMath Indonesia</p>
</footer>